@import "tailwindcss";

/* Apply Montserrat font to all elements for consistency */
* {
  font-family: var(--font-montserrat);
}

header {
  font-family: var(--font-montserrat);
}

body {
  font-family: var(--font-montserrat);
}
